.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
    list-style: none;
    cursor: pointer;
}

.pokemon {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
}

.pokemon .number {
    color: #000;
    opacity: .3;
    text-align: right;
    font-size: .625rem;
}

.pokemon .name {
    text-transform: capitalize;
    color: #fff;
    margin-bottom: .25rem;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type {
    color: #fff;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
}

.pokemon .detail img {
    max-width: 100%;
    height: 70px;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    color: #fff;
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
}

.pokemonCard {
    /* display: flex; */
    display: block;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.pokedexCard {
    /* box-shadow: 0 0 5px #222; */
    max-width: auto;
    width: 100%;
    height: 100%;
    border-radius: 2rem;
}

.pokedexCard .pokemon {
    padding: 0;
    margin: 0;
    position: relative;
    width: 100%;
    height: 300px;
    border-radius: 2rem;
}

.pokedexCard .pokemon header {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 1rem;
}

.pokedexCard .pokemon header i {
    color: #fff;
    cursor: pointer;
    text-align: center;
    opacity: 0.7;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 1rem;
}

.pokedexCard .pokemon header i:hover {
    color: #fff;
    opacity: 1;
    background: #ffffff23;
}

.pokedexCard .pokemon header a+i:hover {
    color: red;
}

.pokedexCard .pokemon::before {
    background: #ffffff;
    /* background-image: url('/assets/imagens/fundo2.jpg'); */
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    border-radius: 2rem;
}

.pokedexCard .pokemon .name {
    color: #fff;
    padding: 1rem;
    text-transform: capitalize;
    font-size: 1.5rem;
}

.pokedexCard .pokemon .number {
    color: #000000;
    position: absolute;
    right: 2rem;
    font-size: 1.5rem;
}

.pokedexCard .pokemon .types .type:first-child {
    margin-left: 1rem;
}

.pokedexCard .pokemon .types .type {
    color: #ffffff;
    text-align: center;
    filter: brightness(1.15);
    padding: 0.25rem 0.5rem;
    font-size: 0.8rem;
    border-radius: 1rem;
}

.pokedexCard .pokemon img {
    position: absolute;
    height: 180px;
    width: 180px;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.pokedexCard nav {
    background-color: #fff;
    color: #000000;
    position: relative;
    top: -20px;
    display: flex;
    justify-content: space-around;
    font-size: 0.5rem;
    /* border-bottom: 1px solid; */
    border-radius: 2rem;
}

.pokedexCard nav h2 {
    padding: 1rem 0;
    cursor: pointer;
}

.pokedexCard nav h2.active {
    color: #41414d;
    border-bottom: 2px solid;
}

.pokedexCard nav h2:hover {
    color: #0404a1ee;
    border-bottom: 2px solid;
}

.pokedexCard #infoPokemon ol li {
    text-transform: capitalize;
    position: relative;
    padding: 0.5rem;
    list-style: none;
    margin-left: 1rem;
}

.pokedexCard #infoPokemon ol li span {
    color: #777;
}

.pokedexCard #infoPokemon ol li strong {
    color: #444;
    position: absolute;
    left: 120px;
}

.pokedexCard #infoPokemon ol li div.evolution {
    /* align-items: center;
    display: flex;
    justify-content: space-between; */
    margin-top: 2rem;
    margin-right: 2rem;
}

.pokedexCard #infoPokemon ol li div.evolution i {
    color: green;
    opacity: 0.4;
}

.pokedexCard #infoPokemon ol#evolution li {
    margin: 0.5rem;
}

.pokedexCard #infoPokemon ol li div.experienceBar {
    background: #ccc;
    transform: translateY(-50%);
    width: 90%;
    margin: 10px 0 0 0;
    /* position: absolute;
    top: 50%;
    right: 1rem; */

}

.pokedexCard #infoPokemon ol li div.experienceBar>div {
    color: transparent;
    background: var(--color);
    width: var(--i);
    border-radius: 3px;
    height: 2px;
}

.pokedexCard #infoPokemon ol li div.img-group {
    align-items: center;
    color: #666;
    display: flex;
    flex-direction: column;
    gap: 6px;
    justify-content: center;
    position: relative;
    font-weight: bolder;
}

.pokedexCard #infoPokemon ol li div.img {
    border: 1px solid #000000;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 3px 1px 2px #222;
    padding: 1rem;
    width: 180px;
}

.pokedexCard #infoPokemon ol li div.img img {
    background: var(--color);
    width: 100%;
}

.pokedexCard #infoPokemon ol.moves {
    display: grid;
    grid-template-columns: repeat(2, 4fr);
    align-items: center;
    gap: 10px;
    padding: 0;
}

.pokedexCard #infoPokemon ol.moves li:nth-child(2n) span {
    border-left: 1px solid #ccc;
    padding-left: 1.5rem;
}

.hidden {
    visibility: hidden;
    display: none;
}

@media screen and (min-width: 360px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}


@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1080px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}